<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Color Picker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="pickers">
      <twc-color-picker></twc-color-picker>
    </div>

    <script>
    document.querySelector('twc-color-picker').addEventListener('select-color', e => console.log(e))
    </script>
  </body>
</html>
